<!DOCTYPE hmtl>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<title>Quiz Tel</title>
	</head>
	<body>
		<h2>Quiz Tel: El juego de las preguntas</h2>
		<%= respuesta %> <p />
		<a href="/quizes/question">Intentelo otra vez</a>		
	</body>
</html>